# MASTER AIPH - TU INF-PROF
# Introduction to Python programming for health data

**Session 1 Learning objectives:**

1. Values, Statements, Variables and Operators
2. Functions
3. Control structures: Conditionals, Loops

Tip: you could go to google colab to run this notebook online instead of on your machine. 

This notebook is hosted at https://www.github.com/lrnv/inf-prof

You could use it via https://colab.research.google.com/ if you dont have a local jupyter installation.

# 1. Values, staments and Variables

## 1.1 Value

A value is one of the fundamental things (like a letter or a number )   that a program manipulates. 

Python has five standard Data Types:

```
Numbers
String
List
Tuple
Dictionary
```

https://developer.rhino3d.com/guides/rhinopython/python-datatypes/



If you are not sure what type a value has, the interpreter can tell you.

In [22]:
type('Hello world')

str

## 1.2 Statements in python
A statement is an instruction that a Python interpreter can execute.

Python statement ends with the token NEWLINE character. It means each line in a Python script is a statement.

In [23]:
# statement 1
print('Hello')

# statement 2
x = 20

# statement 3
print(x)

Hello
20

In [24]:
# multiline statement
addition = 10 + 20 + \
           30 + 40 + \
           50 + 60 + 70
print(addition)

280

## 1.3 Variables in Python

A variable is a name that refers to a value.

The assignment statement creates new variables and gives them values

In [27]:
# Declare a variable and initialize it
f = 0
print (f)

# re-declaring the variable works
f = "abc"
print (f)

# Global vs. local variables in functions
def someFunction():
  #global f
  f = "def"
  print (f)

someFunction()
print (f)

0
abc
def
abc

In [31]:
# print ("string type " + 123) # ERROR: variables of different types cannot be combined


print ("string type " + str(123))
print(12+13)

string type 123
25

## 1.4 Variable names and keywords

Programmers generally choose names for their variables that are meaningful     they document what the variable is used for.

* Variable names can be arbitrarily long.
* They can contain both letters and numbers.
* They have to begin with a letter. 
* By convention we don't use upper case letters (case matters, Bruce and bruce are different variables).
* The underscore character (_) can appear in a name. It is often used in names with multiple words, such as my_name or price_of_tea_in_china.
* If you give a variable an illegal name, you get a syntax error:

In [32]:
# Example Illegal names... why are they illegal?

# 76trombones = 'big parade'

class = 'Computer Science 101'

SyntaxError: invalid syntax (2538824885.py, line 5)

## 1.5 Objects 
 Special variables with properties and methods associated. 
 
 Python is an object-oriented programming language. Everything  in Python is treated as an object, including variable, list, tuple, dictionary, etc.
 
  Every object belongs to its class. For example, an integer variable belongs to integer class. 
  
  An object is a real-life entity. 

  An object is the collection of various data and functions that operate on those data. 
  
  An object contains the following properties:

* **State** - The attributes of an object represents its state. It also reflects the properties of an object.
* **Behavior** - The methods of an object represents its behavior.
* **Identity** - Each object must be uniquely identified and allow interacting with the other objects.

The clases that we are going to use like PANDAS, ScikitLearn,

In [34]:
type(1)

int

## 1.6. Operators
Operators are special symbols that represent computations like addition and multiplication. The values the operator uses are called operands.

***Arithmetic Operators***

In [35]:
#create two variables
a=100
b=200
 
# addition (+) operator
print(a+b) 
 
# subtraction (-) operator
print(a-b) 
 
# multiplication (*) operator
print(a*b)
 
# division (/) operator
print(b/a)
 
# modulus (%) operator
print(a%b) # prints the remainder of a/b
 
# exponent (**) operator
print(a**b) #prints a^b

300
-100
20000
2.0
100
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

***Comparison Operators***

In [36]:
# create two variables
a=100
b=200
 
# (==) operator, checks if two operands are equal or not
print(a==b)
 
# (!=) operator, checks if two operands are not equal
print(a!=b)
 
# (>) operator, checks left operand is greater than right operand or not
print(a>b)
 
# (<) operator, checks left operand is less than right operand or not
print(a<b)
#(>=) operator, checks left operand is greater than or equal to right operand or not
print(a>=b)
 
# (<=) operator, checks left operand is less than or equal to right operand or not
print(a<=b)

False
True
False
True
False
True

# 2. Functions
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

In [37]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

**Exercise :** Write a function that prints " Programming in Python is awesome"

In [38]:
def name_of_the_function():
    print("something")

name_of_the_function()

something

## 2.1 What does a function receives ? Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

By default, a function must be called with the correct number of arguments. That is, if  your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

However there are ways to skip this constraint ...

In [41]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")
my_function()

Emil Refsnes

TypeError: my_function() missing 2 required positional arguments: 'fname' and 'lname'

**Exercise :** write a function that receives two values and print the sum of them.

In [43]:
def sum_of_two_values(value1, value2, value3):
    print(value1 + value2 / value3)

sum_of_two_values(12,13, 14)

12.928571428571429

### Arbitrary arguments
If you do not know how many arguments that be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [48]:
def my_function(*kids):
  print(kids)
  print("The second child is " + kids[1])

my_function("Emil", "Tobias", "Linus")
my_function("A", "B", "C", "D")

('Emil', 'Tobias', 'Linus')
The second child is Tobias
('A', 'B', 'C', 'D')
The second child is B

**Exercise :** Write a function that receives and arbitrary list of numbers an prints the third one.

**Note**: Good practice call this argument `*args`

In [53]:
def show_third_number(*args):
    print(args)
    print(args[2])


my_list_of_numbers = (1,2,3,4,5)

show_third_number(*my_list_of_numbers)

(1, 2, 3, 4, 5)
3

In [52]:
function_test(1,2,3,4,5)

def function_test(*args):
    print(args)
    print(args[2])

NameError: name 'function_test' is not defined

### Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [57]:
def my_function(child1, child2, child3):
  print("The youngest child is " + child3)

my_function("B", "C", "A")
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")
my_function(child3 = "Linus", child1 = "Emil", child2 = "Tobias")

The youngest child is A
The youngest child is Linus
The youngest child is Linus

### Arbitrary Keyword Arguments
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [62]:
def my_function(**kid):
  print(kid)
  print("His last name is " + kid["lname"] + str(kid["iother_stuff"]))

my_function(lname = "Refsnes", fname = "Tobias", iother_stuff= 12)

{'lname': 'Refsnes', 'fname': 'Tobias', 'iother_stuff': 12}
His last name is Refsnes12

**Note:** Good practice calls this argument `**kwargs`

## 2.2 What does a function returns ?
**Return value**
To let a function return a value, use the return statement

In [66]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

**Exercices**

1. Create a function called `BMI` that receives the `size` and the `weight` of a person and that returns the body mass index.

2. Create a function `BMI_advanced` that use key-word arguments in order to be able to pass the parameters in an arbitrary order.

3. What is the difference between returning a value and printing it?

4. Call the function `BMI_advanced` and store the returned value in a variable, then print this variable.

5. Create a function that receives two values and returns AND prints the biggest one.

In [80]:
def my_bmi(weight, height):
    rez = weight/height**2
    print(rez)
    return rez

my_bmi(height=167, weight=50)
val = my_bmi(50,167)
print(val)

def biggest(a,b):
    c = max(a,b)
    print(c)
    return c

biggest(12,15)

0.0017928215425436552
0.0017928215425436552
0.0017928215425436552
15

15

# 3. Control Stuctures

## 3.1 Python Conditions and IF-ELSE statements
As aforementioned, python supports the usual logical conditions from mathematics:

* Equals: `a == b`
* Not Equals: `a != b`
* Less than: `a < b`
* Less than or equal to: `a <= b`
* Greater than: `a > b`
* Greater than or equal to: `a >= b`

In [92]:
a = 33
b = 200
print(b < a)
if b > a:
    print("b is greater than a")
else:
    print(print("b is greater than a"))

False
b is greater than a

**Note: Python relies on indentation (whitespace at the beginning of a line) to define scope in the code.** 
Other programming languages often use curly-brackets for this purpose. Note that good practice is to use 4 spaces.

**Exercise:** Try to put the last print statement at the same level than the else. What happens ?? How many spaces are required ?

**Exercise :** Modify the previous function `BMI_advanced` in order to print if the person has overweight according to the following BMI Categories:
* Underweight = <18.5
* Normal weight = 18.5–24.9
* Overweight = 25–29.9
* Obesity = BMI of 30 or greater

In [103]:
def bmi2(weight,height):
    bmi = weight/height**2
    comment = ""
    if bmi < 18.5:
        comment = "Underweight"
    else:
        if bmi < 25:
            comment = "Normal Weight"
        elif bmi < 30:
            comment = "Overweight"
        else:
            comment = "Obesity"
    print(comment)
    return bmi

bmi2(50,1.71)

Overweight

27.358845456721728


**Supplementary Exercise** : Develop a medical decision tree 
https://www.medg.fr/alcalose-respiratoire/, https://www.semanticscholar.org/paper/From-logical-inference-to-decision-trees-in-medical-Albu/17ebd4c1202a08d8abf58d6af269e901193d40c5/figure/1

## 3.2 Loops

**For Loops**

A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "apple":
        print(x)
    print(x)

apple
apple
banana
cherry

**While Loops**

In [1]:
i = 1
while i < 6:
    print(i)
    i += 1
print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Note:** The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**Exercise :**
* Create a function that receive two vectors and returns a vector with the sum of the two vectors.
* Add a third parameter that is type of operation, (sum, multiplication, division). The function has to do the operation specified in this parameter.

In [4]:
x = [1,23,4]
y = [2,1,3]
def add_vec(x,y):
    
    return ?


add_vec(x,y) # 2, 24, 7

# def operate_vec(x,y,op)

#     return


# operate_vec(x,y,+) # 2, 24, 7
# operate_vec(x,y,*) # 2, 23, 12

[1, 23, 4, 2, 1, 3]

In [4]:
def bmi(weight, height):
    rez = weight / height**2
    print(rez)
    return rez

def bmi2(*args):
    print(args)
    w = args[0]
    h = args[1]
    rez = w / h**2
    print(rez)

bmi2(50, 1.72)

(50, 1.72)
16.901027582477017