# __Teaching Unit INF-PROF: Programming fundamentals for health data__


## __Practial Work 1 - Introduction to Python__

### Learning objectives:

1. Manipulate different Python datatypes
2. Use some conditional statements
3. Programmation of basics functions
4. Use some looping structure

## __I/ Python datatypes__

For this first part, we will mostly see how to create the most common type of object with Python, manipulate it and see some methods for these objects.

###__Strings__

For this practical session, we will see basic datatypes of Python and how to manipulate them. The first datatype that we will see is the Strings. This object is used to store caracters (that could be letters, numbers, punctuation). We usually use the prefix `str` for strings object.

#### __Strings creation__

You can create a string by assigning to a variable any character between double quotes (" ") or single quotes (' ').

```
my_string = 'abc'
my_string = "abc"
my_string = "I'm Nicolas Ngo"
```

You can also create a string with the function `str()` on any character.

```
my_string = str(123)
```

##### __Strings concatenation__
You can merge two strings to create a single one with the '+' symbol.

```
first_string = 'abc'
second_string = 'def'
third_string = first_string + second_string
print(third_string)
```

####__Strings slicing__
You can access each element of a string with a slicing. The following syntax `my_string[index_of_the_element]`.

```
my_string = 'abc'
my_string[0]
```

#### __Strings methods__

Many methods are available for the strings class. You can check them by usoing the `dir()` function or search for them in the [Python documentation](https://docs.python.org/3/library/stdtypes.html#textseq).

```
dir(str)
```

#### __Exercise 1.1 - Try to guess what these statements will do__

In [ ]:
my_string = "This is a practical session"

1. `my_string[2]`
2. `my_string[0:3]`
3. `my_string[5:]`
4. `my_string[:]`
5. `my_string[-1]`
6. `my_string[0:-5]`
7. `my_string[::-3]`
8. `my_string[::2]`

##### __Correction 1.1__

1. Indexation starts at 0 with Python. So `my_string[2]` will return the third element of the string `'i'`.
2. Indexation with the ':' give a range of indexes. So `my_string[0:3]` will return the element of the string from the first to the third element `Thi`.
3. With the syntax '5:' it means that we want a range that start at the 6th element to the end of the string. So it will return `'is a practical session'`.
4. Following the logic of the previous question, this syntax means that we want all the element from the first to the last index available. So it will simply returns the string.
5. You can also use negative indexing with Python. It will understand that we are counting from the end now (starting with 1). So it will return the last element of the string `'n'`.
6. Following the logic of the last question, the syntax `0:-5` means that we want the element from index 0 to index 5 but starting by the end. So it will return `'This is a practical se'`.
7. Slicing indexing also allows you to define a specific step for the range. For instance the syntax `::-3` means that we want to print from the first to the last index but with a step of 3 and starting by the end of the string. So it will return : `'nssatraii'` ('thIs Is A pRacTicAl SesSioN").
8. We can do the same with a positive steps so the range goes from the first to the last index with a step of 2. It will return `'Ti sapatclssin'`

#### __Exercise 1.2 - String manipulation__

Consider the following text:

*Statistics (from German: Statistik, orig. "description of a state, a country") is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.*

1. Assign the text to a string.
2. Use the `count()` method to give the numbre of time the letter "a" appears in the text.
3. Find the index of the word *data*.
4. Remplacer le mot "organization" par "organisation" dans le string.

##### __Correction 1.2__

1. Assign the text to a string.

In [ ]:
my_string = 'Statistics (from German: Statistik, orig. "description of a state, a country") is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.'
print(my_string)

Statistics (from German: Statistik, orig. "description of a state, a country") is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.

2. Use the `count()` method to give the number of time the letter "a" appears in the text.

In [ ]:
my_string.count('a')

16

3. Find the index of the word "data".

In [ ]:
my_string.find('data')
print(my_string[187:191])

data

4. Replace the word "organization" by "organisation" in the string

In [ ]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [ ]:
# With the replace method
my_string.replace('organization', 'organisation')
print(my_string)

# You need to update the string by replacing it manually
my_string = my_string.replace('organization', 'organisation')
print(my_string)

Statistics (from German: Statistik, orig. "description of a state, a country") is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.
Statistics (from German: Statistik, orig. "description of a state, a country") is the discipline that concerns the collection, organisation, analysis, interpretation, and presentation of data.

### __Lists__

A list is a collection of items in Python. It can be change after its creation (assign a new value to an element of the list).

#### __List creation__
You can create a list by using brackets `[]` or by using the `list()` function.

```
my_list = [1, 2, 3]
my_list = list('123')
```
In a sense, string can be seen as a list of caracters. So we can find similar methods on boths.

#### __List concatenation__

You can concatenate lists with the '+' operator or by using the specific method `list.extend()`.

```
first_list = list("abc")
second_list = list('567')
first_list.extend(second_list)
print(first_list)

> ['a', 'b', 'c', '5', '6', '7']
```

To add a single element at the end of the list you can use the `append()` method.

```
first_list.append('a')
first_list

> ['a', 'b', 'c', '5', '6', '7', 'a']
```

To add a single element at any specific position (or index) in the list you can use the `insert()` method.

#### __Accessing and updating list element__

Following the same logic of the strings slicing you can access element of the list with the `[]` following the string name. But with the list you can also change the value at the specific index.

```
my_list = [1, 2, 3, 4]
my_list[0] = 'A'
print(my_list)

> ['A', 2, 3, 4]
```

#### __Removing values__
You can use the `remove()` method to remove a specific element of the list.

```
my_list = ["1", 2, "a", 4]
my_list.remove(2)
print(my_list)

> ['1', 'a', 4]
```
#### __List documentation__
You can see the Python documentation for list [here](https://docs.python.org/3/tutorial/datastructures.html).

#### __Exercise 1.3 - Sort list__

With the following list, execute the different tasks:
1. Create the list.
2. Sort all values by decreasing order and display the 3 smallest values.
3. Display the maximum value in two different ways.
3. Display the mean value of the list of values.

```
my_list = [2, 96, 78, 45, 23, 67, 82, 18, 32]
```

##### __Correction 1.3__

1. Create the list.

In [17]:
# First way by using the brackets
my_list = [2, 96, 78, 45, 23, 67, 82, 18, 32]

# Second way with the constructor
my_list = list([2, 96, 78, 45, 23, 67, 82, 18, 32])

2. Sort all values by decreasing order and display the 3 smallest values.

In [18]:
# We use the list.sort() method to sort all the values
my_list.sort(reverse = True)
my_list

# We can display the 3 smallest values by displaying the last 3 elements of the list
my_list[-3:]

[23, 18, 2]

3. Display the maximum value in two different ways

In [19]:
# We can display the first element of the sorted list
my_list[0]

# Or we can use the max() function that returns the maximum value of a list
max(my_list)

96

4. Display the mean value of the list

In [29]:
# We can use the average formula:
print("The mean value is %f" % (sum(my_list)/len(my_list)))

# Or we can create our own mean function (see later)

# Or we can import from statistics the mean function
from statistics import mean
print("The mean value is", mean(my_list))

The mean value is 49.222222
The mean value is 49.22222222222222

In [24]:
sum(my_list)/len(my_list)

49.22222222222222

#### __Exercise 1.4 - Find an element__

You received a list of measurements. You have to find the index of the maximum value to identify which patient it was taken from.
```
my_list = ['4', '9', '75', '215', '141', '264', '256', '541', '148', '226', '365', '523']
```

##### __Correction exercise 1.4__

Let's see what kind of object is stock in this list.

In [34]:
my_list = ['4', '9', '75', '215', '141', '264', '256', '541', '148', '226', '365', '523']
type(my_list[0])

str

This is a string, we need to convert it into numeric values. Otherwise the max function will return something unexpected

In [35]:
max(my_list)

'9'

In [36]:
int(my_list)

TypeError: ignored

We can use the numpy library to convert the list of string into an array of int

In [37]:
import numpy as np
my_list = np.array(my_list, dtype = int)
type(my_list)

numpy.ndarray

And then we convert it back to a list

In [39]:
my_list = list(my_list)
type(my_list)
print(my_list)

[4, 9, 75, 215, 141, 264, 256, 541, 148, 226, 365, 523]

Now we can search for the maximum value

In [40]:
max(my_list)

541

But we need to return the index of the max, not its value. We use the `list.index()` method to return the index of a specific value.

In [46]:
index_max = my_list.index(max(my_list))
print(f'The index of the maximum value is {index_max}')

The index of the maximum value is 7

### __Dictionary__

Dictionary is a Python collection type object. In the dictionaries the values are being indexed by specific unique values which are called *keys*. Each *keys* is associated with *values*. The *values* can be a `list` of element, a unique `int` or even another `dict`.

#### __Creation of a dict__

There is many ways to create a dictionary. The first one is to use the curly brackets `{}` and inside the bracket we put the *keys* followed by its associated *values* (with this form `keys:values`). And each pair of `keys:values` is separated by commas (`,`).

```
my_dict = {'Name': ['Paul', 'Marie', 'Jean'],
           'Age': [26, 35],
           'City': ['Marseille', 'Paris', 'Lyon', 'Lamentin']}
```

Or you can use the constuctor `dict()`

```
my_dict = dict({'5': ['cinq', 'V', 'five']})
```

#### __Accessing a vlue__

In a dictionary you can access a value by using the specific key that is associated to this value (just like a named index in the list). Or you can use the `dict.get()` method of dict.

```
my_dict = {'Name': 'Nora', 'Age':25}
my_dict['Name']

> 'Nora'

my_dict.get('Name')
> 'Nora'
```

Be carefull, by default the dict() can be viewed as a list of keys. So when used in a for loop for instance, it will loop through the keys without exploring the values.

```
my_dict = {'Name': ['Paul', 'Marie', 'Jean'],
           'Age': [26, 35],
           'City': ['Marseille', 'Paris', 'Lyon', 'Lamentin']}

for i in my_dict:
  print(i)

> Name
> Age
> City
```

##### __Adding a new key:value__

You can add a `key:value` pair to your dictionary
```
my_dict['Profession'] = 'Police officer'
```
By default, Python will first check if the Profession is not already in the dictionary, if not it will create a new key and add 'Police officer' as an associated value. Otherwise it will delete the previous values and replace it by the one given.

#### __Modify key:value pair__
You can modify an already existing value associated to a key.
```
my_dict['Age'] = 25
my_dict
```

#### __Delete a key:value pair__
You can delete a key:value pair with the keyword `del`.
```
del my_dict['City']
my_dict

> {'Name': ['Paul', 'Marie', 'Jean'], 'Age': [26, 35], 'Profession': 'Lawyer'}
```

#### __Some method__
To access all the keys of a dict `my_dict.keys()`. The method `get()` returns the value of a specific key. To have a more complete documentation you can check the link [here](https://docs.python.org/3/tutorial/datastructures.html#dictionaries).

#### __Exercise 1.5 - Manipulate a dictionary__

We want to store into a dictionary the names of the patients that are assigned to a treatment and control group.

__Control__: _Ismael_, _Marie_, _Pierre_, _Yusuf_, _Iyeka_

__Treatment__: _Mike_, _Alain_, _Malik_, _Karim_

1. Create a dictionary with two keys (one for each groups) and store the names of the patients as values of the corresponding keys.
2. Which group has more patients ?
3. A new patient has been assigned to the treatment group. Add her name to the corresponding list (Aya)
4. We want to add a third treatment group, change the 'Treatment' key name to 'Treatment A' and add the new 'Treatment B' key with the following patients:
_Aaren_, _Aymerick_, _William_ and _Dieuson_.
5. Give the total number of patients

##### __Correction 1.5__

1. Create a dictionary with two keys and store the names of the patients as values of the corresponding keys.

In [61]:
my_dict = dict({
    'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'],
    'Treatment':['Mike', 'Alain',  'Malik', 'Karim']
})

my_dict

{'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'],
 'Treatment': ['Mike', 'Alain', 'Malik', 'Karim']}

2. Which group has more patients ?

In [65]:
# We can try to use the max function but it will only return the maximum of the keys hence 'Treatment' because it is the longest string
print('With the max function:', max(my_dict))

# We need to use a lambda function
res = max(my_dict, key = lambda x: len(my_dict.get(x)))
print('Using max function with the appropirate key argument: %s' % res)

With the max function: Treatment
Using max function with the appropirate key argument: Control

3. A new patient has been assigned to the treatment group. Add her name to the corresponding list (Aya)

In [67]:
# The get method reutrns a list, in this case we can use list method to add this new value to the dictionary
print('Type of the output: %s' % type(my_dict.get('Treatment')))
print('Output %s' % my_dict.get('Treatment'))

Type of the output: <class 'list'>
Output ['Mike', 'Alain', 'Malik', 'Karim']

In [68]:
# Adding the patient
my_dict.get('Treatment').append('Aya')
my_dict

{'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'],
 'Treatment': ['Mike', 'Alain', 'Malik', 'Karim', 'Aya']}

In [69]:
# With update method
my_dict = dict({
    'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'],
    'Treatment':['Mike', 'Alain',  'Malik', 'Karim']
})

print(my_dict)
value_treatment = my_dict.get('Treatment')
value_treatment.append('Aya')

my_dict.update({'Treatment':value_treatment})
print(my_dict)

{'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'], 'Treatment': ['Mike', 'Alain', 'Malik', 'Karim']}
{'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'], 'Treatment': ['Mike', 'Alain', 'Malik', 'Karim', 'Aya']}

4. We want to add a third treatment group, change the 'Treatment' key name to 'Treatment A' and add the new 'Treatment B' key with the following patients:
_Aaren_, _Aymerick_, _William_ and _Dieuson_.

In [70]:
# The pop method returns the values of the key in argument and delete both key and values.
my_dict['Treatment A'] = my_dict.pop('Treatment')
my_dict

{'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'],
 'Treatment A': ['Mike', 'Alain', 'Malik', 'Karim', 'Aya']}

In [71]:
# We add a new group
my_dict.update({'Treatment B':['Aaren', 'Aymerick', 'William','Dieuson']})
my_dict

{'Control': ['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'],
 'Treatment A': ['Mike', 'Alain', 'Malik', 'Karim', 'Aya'],
 'Treatment B': ['Aaren', 'Aymerick', 'William', 'Dieuson']}

5. Give the total number of patients

In [72]:
# The len method will give the number of keys
print('Number of keys: %d' % len(my_dict))

# Values of the dictionary
print('my_dict.values() %s' % my_dict.values())

Number of keys: 3
my_dict.values() dict_values([['Ismael', 'Marie', 'Pierre', 'Yusuf', 'Iyeka'], ['Mike', 'Alain', 'Malik', 'Karim', 'Aya'], ['Aaren', 'Aymerick', 'William', 'Dieuson']])

In [73]:
# By adding the length of the values associated to each key
len(my_dict.get('Control')) + len(my_dict.get('Treatment A')) + len(my_dict.get('Treatment B'))

14

In [75]:
# Or using for loops
number_of_patients = 0
for key in my_dict:
  number_of_patients = number_of_patients + len(my_dict[key])

print(f'There is {number_of_patients} patients in total.')

There is 14 patients in total.

## __II/ Conditional statements and loops__

#### __Exercice 2.1 - Categorisation__

You received alist of age values, you want to discretize them into 15 years categories. Write a program that will do so.

_N.B._: The result should be a list of string in the same order as the age list but with the categories as values; Let's assume that the first category will start at 0 and goes to 15 (not included) and will be named `[0-15)`. The second category will be `[15-30)` until the last one `[75-90]`.

```
ages = [23, 82, 45, 25, 65, 90, 15, 32, 63, 13, 78, 10, 15, 54, 32, 46, 74, 85, 38, 37, 5, 68, 53, 18]  
```

##### __Correction 2.1__

In [87]:
# First thing to do is to store it into a list
ages = [23, 82, 45, 25, 65, 90, 15, 32, 63, 13, 78, 10, 15, 54, 32, 46, 74, 85, 38, 37, 5, 68, 53, 18]

# Then we initialized an empty list that will store the categorized values of the ages
ages_cat = list()

# We iterate over the values of the list ages and go down through different 'if' statements
for age in ages:
  if age < 15:
    ages_cat.append('[0-15)')
  elif age >= 15 and age < 30:
    ages_cat.append('[15-30)')
  elif age >= 30 and age < 45:
    ages_cat.append('[30-45)')
  elif age >= 45 and age < 60:
    ages_cat.append('[45-60)')
  elif age >= 60 and age < 75:
    ages_cat.append('[60;75)')
  elif age >= 75 and age <= 90:
    ages_cat.append('[75;90]')
  else:
    print('Age was in no category')

print('Countinuous ages %s' % ages)
print('Discretized ages %s' % ages_cat)

Countinuous ages [23, 82, 45, 25, 65, 90, 15, 32, 63, 13, 78, 10, 15, 54, 32, 46, 74, 85, 38, 37, 5, 68, 53, 18]
Discretized ages ['[15-30)', '[75;90]', '[45-60)', '[15-30)', '[60;75)', '[75;90]', '[15-30)', '[30-45)', '[60;75)', '[0-15)', '[75;90]', '[0-15)', '[15-30)', '[45-60)', '[30-45)', '[45-60)', '[60;75)', '[75;90]', '[30-45)', '[30-45)', '[0-15)', '[60;75)', '[45-60)', '[15-30)']

#### __Exercice 2.2 - Estimation of $\pi$__

To approximate the value of $\pi$ many methods are available. One of them was found by the indian mathematician Madhava de Sangamagrama around 1400. He used an infinite serie to compute an approximation of $\pi$. The formula that he used is the following:

$
\tilde{\pi}_{Madhava} = \sqrt{12}\sum_{k = 0}^{\infty}{\frac{(-1)^k}{(3k+1)3^k}}
$

Use the above formula to compute an approximation of $\pi$ with a while loop. The desired precision is at least 15 decimals of $\pi$.

*Hint*: You can use the following command to have a reference value of $\pi$




```
import math
math.pi
```

##### __Correction 2.2__

In [92]:
# With a for loop nested

import math

pi_madhava = 0

k = 1

while(abs(math.pi - pi_madhava) > 1e-15):
  res = 0
  for i in range(0, k):
    res += ((-1)**i)/((2*i+1)*(3**i))
  pi_madhava = ((12)**(1/2))*res
  k += 1

print('Approximation:', pi_madhava)
print('Real value:', math.pi)
print('Difference:', abs(math.pi - pi_madhava))
print('Iteration =', k-1)

Approximation: 3.141592653589794
Real value: 3.141592653589793
Difference: 8.881784197001252e-16
Iteration = 29

In [93]:
pi_madhava = 0
k = 0

while(abs(math.pi - pi_madhava) > 1e-15):
  if k == 0:
    frac = 1
  else:
    frac += ((-1)**k)/((2*k+1)*(3**k))
  pi_madhava = (12**(1/2))*frac
  k += 1

print('Approximation:', pi_madhava)
print('Real value:', math.pi)
print('Difference:', abs(math.pi - pi_madhava))
print('Iteration =', k)

Approximation: 3.141592653589794
Real value: 3.141592653589793
Difference: 8.881784197001252e-16
Iteration = 29

#### __Exercice Bonus - Frequency dict__

From the previous exercise, use a for loop to store in a dictionary how many times each category is present in the discretized version of ages.

Sort the dictionary with regard to the frequency in decreasing order. Which category has the maximum number of observations ? Which category has the minimum number of observations ?

#### __Correction Bonus__

In [ ]:
# First thing to do is to store it into a list
ages = [23, 82, 45, 25, 65, 90, 15, 32, 63, 13, 78, 10, 15, 54, 32, 46, 74, 85, 38, 37, 5, 68, 53, 18]

# Then we initialized an empty list that will store the categorized values of the ages
ages_cat = list()

# We iterate over the values of the list ages and go down through different 'if' statements
for age in ages:
  if age < 15:
    ages_cat.append('[0-15)')
  elif age >= 15 and age < 30:
    ages_cat.append('[15-30)')
  elif age >= 30 and age < 45:
    ages_cat.append('[30-45)')
  elif age >= 45 and age < 60:
    ages_cat.append('[45-60)')
  elif age >= 60 and age < 75:
    ages_cat.append('[60;75)')
  elif age >= 75 and age <= 90:
    ages_cat.append('[75;90]')
  else:
    print('Age was in no category')

# We create an empty dictionary to store the frequencies as values and the category as key.
freq_dict = dict()
for key in ages_cat:

  # We check if key already exist in the dict
  if key in freq_dict.keys():
    freq_dict[key] = freq_dict[key] + 1
  else:
    freq_dict[key] = 1

print(freq_dict)

{'[15-30)': 5, '[75;90]': 4, '[45-60)': 4, '[60;75)': 4, '[30-45)': 4, '[0-15)': 3}

In [ ]:
# Sort the keys by decreasing order
sorted(freq_dict, key = lambda x:freq_dict.get(x), reverse = True)

['[15-30)', '[75;90]', '[45-60)', '[60;75)', '[30-45)', '[0-15)']

In [ ]:
# Which category has the maximum number of observations ?
print('The most frequent category is %s with %d observations' % (max(freq_dict, key = freq_dict.get), freq_dict.get(max(freq_dict, key = freq_dict.get))))

The most frequent category is [15-30) with 5 observations

In [ ]:
# Which category has the minimum number of observations ?
print('The less frequent category is %s with %d observations' % (min(freq_dict, key = freq_dict.get), freq_dict.get(min(freq_dict, key = freq_dict.get))))

The less frequent category is [0-15) with 3 observations

## __III/ Functions__

#### __Exercise 3.1 - Conversions__

Write a Python function that convert temperature units from Celsius units (°C) to Fahrenheit (°F) or from Celsius units to Fahrenheit depending on the given argument. Meaning that a single function can do both conversions.

*N.B.*: The formula to transform Celsius to Fahrenheit is the following:
$F = (C*9/5)+32$ and to go from Fahrenheit to Celsius: $C = (F-32)*5/9$

##### __Correction 3.1__

In [96]:
def convert(temperature, desired_unit = 'C'):
  if desired_unit == 'C':
    res = (5/9)*(temperature - 32.0)
  elif desired_unit == 'F':
    res = (9/5)*temperature + 32.0
  else:
    print('The desired unit is not implemented')
    return
  return res

convert(120, 'C')

48.88888888888889

#### __Exercice 3.2 - Utility function__

Write a Python function that take a string into an argument and returns all the unique element of the list.

```
my_string = 'Nullam tempus scelerisque purus, sed mattis elit condimentum nec.'
```

##### __Correction Exercise 3.2__

In [ ]:
# For this exercise we have a few solutions

# First
# Create a dictionary from the string with each element of the string being a key to the dictionary.
# Each time we encounter a duplicate it will not create a new key and then returns the list of keys.

def unique_dictionary(string_argument):
  my_dict = dict()
  for k in string_argument:
    my_dict[k] = 1
  return list(my_dict.keys())



unique_dictionary(my_string)

In [ ]:
# Second
# Use the set datatype in Python. It is a immutable list that do not accept duplicates

def unique_set(string_argument):
  return list(set(string_argument))

unique_set(my_string)

In [ ]:
# Third
# With for loops and if else statements

def unique_ifelse(string_argument):
  list_of_unique_element = list()
  for k in string_argument:
    if k not in list_of_unique_element:
      list_of_unique_element.append(k)
    else:
      pass
  return list_of_unique_element

unique_ifelse(my_string)

## __IV/ Bonus - Comprehension__

There's a way to create a list or a dictionary with a for loops in a single line. It is by embedding the for loop inside brackets (`[]`to create a list and `{}` to create a dictionary).

In [97]:
my_list = [i for i in range(0, 11)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

You have more complexe comprehension. For instance, you can return the result of some operation into the list

In [98]:
my_list = [i**2 for i in range(0, 11)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Or even have some conditions

In [99]:
my_list = [i for i in range(0, 11) if i > 5]
my_list

[6, 7, 8, 9, 10]

It also works with dictionary

In [101]:
# First the items
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Double each value in the dictionary
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

#### __Exercise 4.1 - List comprehension__

Given the following string, write a single line of code that returns a list with the length of every work in the string.
*Hint:* Use the `split()` method of string in this exercise.

__Sentence:__ "A dictionary in Python is a collection of items accessed by a specific key rather than by an index."

##### __Correction 4.1__

In [103]:
my_string = "A dictionary in Python is a collection of items accessed by a specific key rather than by an index."

my_list = [len(word) for word in my_string.split()]
print(my_list)

[1, 10, 2, 6, 2, 1, 10, 2, 5, 8, 2, 1, 8, 3, 6, 4, 2, 2, 6]

#### __Exercise 4.2 - Comprehension function__

In the following dictionary, we stored the weigth and heigth of different patients. The key is the patient id and the value is a list of two elements [weigth, height] with heigth in cm.
1. Use a list comprehension to return a list of BMI for these patients.
2. Update this comprehension to return only the ID of the patients with a BMI below 30.

```
my_dict = {'0100':[50, 160], '0101': [75, 150], '0102':[62, 144], '0103':[95, 183], '0104': [110, 178], '0105': [112, 185]}
```

*Hint*: BMI formula's :$$\frac{Weight}{Height^2}$$ with the weight in kg and the height in meters

##### __Correction 4.2__

In [104]:
# First the list of BMI
my_dict = {'0100':[50, 160], '0101': [75, 150], '0102':[62, 144], '0103':[95, 183], '0104': [110, 178], '0105': [112, 185]}
[v[0]/pow(v[1]/100,2) for (k, v) in my_dict.items()]

[19.531249999999996,
 33.333333333333336,
 29.899691358024693,
 28.367523664486843,
 34.71783865673526,
 32.72461650840029]

In [105]:
# Second the ID of the patients with a BMI below 30
[k for (k, v) in my_dict.items() if v[0]/pow(v[1]/100, 2) < 30]

['0100', '0102', '0103']